<!DOCTYPE html>
<html ng-app="TousenApp">
<head>
	<title>Tousen Character Builder</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<script type="text/javascript" src="js/module.js"></script>
	<script type="text/javascript" src="js/Controllers/mainController.js"></script>
	<script type="text/javascript" src="js/Controllers/human.controller.js"></script>
	<script type="text/javascript" src="js/Controllers/armory.controller.js"></script>
	<script type="text/javascript" src="js/Services/character.service.js"></script>
	<script type="text/javascript" src="js/Services/armory.service.js"></script>
	<script type="text/javascript" src="js/DataLayer/armoryData.service.js"></script>
	<script type="text/javascript" src="js/DataLayer/characterData.service.js"></script>
</head>
<body>
    <!--<div class='banner'>
        <div class='container'>
            <img src="./img/Tousen.JPG" alt="Tousen Character Builder" >
        </div>
    </div>-->
	<div class="container main-frame"  ng-controller="MainController as vm">
		<div>
			Tipo: <select ng-options="race as race.name for race in vm.races" ng-change="vm.HandleRace(vm.selectedRace)" ng-model="vm.selectedRace" class="form-control"></select>
		</div>
		<!--<div>
			Current Money: <input type="text" ng-model="Money" /> => {{Money}} </br>
			Exp Available: <input type="text" ng-model="Experience" />  => {{Experience}}
		</div>-->
		<div ng-show="vm.selectedRace.name === 'Humano'" ng-if="vm.organizationsEnabled === false" ng-controller="HumanController as hc">
			<div>
				Paterna: <select ng-options="family as family.Family for family in hc.Families" ng-change="hc.handleFatherFamily(hc.selectedFatherFamily)" ng-model="hc.selectedFatherFamily" class="form-control"></select>
				Materna: <select ng-options="family as family.Family for family in hc.Families" ng-change="hc.handleMotherFamily(hc.selectedMotherFamily)" ng-model="hc.selectedMotherFamily" class="form-control"></select>
			</div>
			<div>
				<select ng-model="hc.fatherAdvantage"  ng-options="adv as adv.key for adv in hc.advantages.father" ng-change="hc.setAdv(hc.fatherAdvantage)" class="form-control"></select>
				<select ng-model="hc.motherAdvantage" ng-options="med as med.key for med in hc.advantages.mother" ng-change="hc.setMed(hc.motherAdvantage)" class="form-control"></select>
				<select ng-model="hc.disAdvantage" ng-options="disav as disav.key for disav in hc.advantages.disadvantages" ng-change="hc.setDis(hc.disAdvantage)" class="form-control"></select>
				<button ng-click="hc.setAdvantages()" class="btn btn-primary">Fijar Ventajas</button>	
			</div>
			<div>
				<span ng-if="hc.fatherAdvantage"><b>{{hc.fatherAdvantage.key}}</b> - {{hc.fatherAdvantage.value}} </span></br>
				<span ng-if="hc.motherAdvantage"><b>{{hc.motherAdvantage.key}}</b> - {{hc.motherAdvantage.value}}</span></br>
				<span ng-if="hc.disAdvantage"><b>{{hc.disAdvantage.key}}</b> - {{hc.disAdvantage.value}}</span>
			</div>
		</div>
		<div ng-if="vm.organizationsEnabled === true">
			<div>
				<span> <b>Organization: </b> <select ng-options="org as org.Name for org in vm.organizations" ng-model="vm.selectedOrg" ng-change="vm.getOrganizationClans(vm.selectedOrg)" class="form-control"></select></span>
				<span> <b>Clan: </b> <select ng-options="clan as clan.clan  for clan in vm.clans" ng-model="vm.selectedClan" ng-change="vm.handleClan(vm.selectedClan)" class="form-control"></select></span></br>
			</div>
			<div ng-if="vm.clanSelected.vals.Secondary.length > 1"> 
				<b>Senda Secundaria: </b><select ng-options="way for way in vm.clanSelected.vals.Secondary" ng-model="vm.character.secondaryWay" class="form-control"></select>
			</div>
		</div>
		<div id="main-card" ng-if="vm.selectedRace">
			<table class="table">
				<tr>
					<th>Movement</th>
					<th>Intelligence</th>
					<th>Atention</th>
					<th>Reaction</th>
					<th>Serenity</th>
					<th>Constitution</th>
					<th>Perseverance</th>
					<th>Size</th>
					<th>Initiative</th>
					<th>Health</th>
					<th>Honor</th>
					<th>Richness</th>
				</tr>
				<tr>
					<td>{{vm.character.movement}}</td>
					<td>{{vm.character.intelligence}}</td>
					<td>{{vm.character.atention}}</td>
					<td>{{vm.character.reaction}}</td>
					<td>{{vm.character.serenity}}</td>
					<td>{{vm.character.constitution}}</td>
					<td>{{vm.character.perseverance}}</td>
					<td>{{vm.character.size}}</td>
					<td>{{vm.character.intelligence + vm.character.atention + vm.character.initiative}}</td>
					<td>{{vm.character.perseverance + vm.character.constitution + vm.character.health}}</td>
					<td>{{vm.character.honor + vm.honor}}</td>
					<td>{{vm.character.richness + vm.richness}}</td>
				</tr>
			</table>
			<div class="row">
				<div class="col-md-12">
					<span><b>Tipo:</b> {{vm.selectedRace.name}}</span></br>
				</div>
			</div>
			<div ng-show="vm.selectedRace.name === 'Humano'">
				<div class="row">
					<div class="col-sm-12">
						<span><b>Familia Paterna: </b>{{vm.familiesSelected.father.Family}}</span>
						<span><b>Familia Materna: </b>{{vm.familiesSelected.mother.Family}}</span></br>
						<b> Ventajas </b>
						<span ng-if="vm.advantages.fatherSelected"><b>{{vm.advantages.fatherSelected.key}}</b> - {{vm.advantages.fatherSelected.value}} </span></br>
						<span ng-if="vm.advantages.motherSelected"><b>{{vm.advantages.motherSelected.key}}</b> - {{vm.advantages.motherSelected.value}}</span></br>
						<span ng-if="vm.advantages.disAdvantage"><b>{{vm.advantages.disAdvantage.key}}</b> - {{vm.advantages.disAdvantage.value}}</span>
						<div ng-if="vm.clanSelected != undefined" class="row">
					</div>
					<div class="col-md-12">
						<span><b>Organización:</b> {{vm.organizationSelected.Name}}</span>
						<span><b>Clan:</b> {{vm.clanSelected.clan}}</span>
						<span><b>Senda Principal: </b> {{vm.character.mainWay}} </span>
						<span><b>Senda Secundaria: </b> {{vm.character.secondaryWay}} </span>
					</div>
					<div class="col-md-12" ng-if="vm.Dishonor.length > 1">
						<span><b>Causas de deshonor: <b></span>
						<div class="row">
							<div class="col-md-4">		 
								<ul>
									<li ng-repeat="dishonor in vm.Dishonor"> {{dishonor}} </li>
								</ul>
							</div>
							<div class="col-md-4">
								<span><b>Armas: <b></span> 
								<ul>
									<li ng-repeat="weapon in vm.weapons"> {{weapon}} </li>
								</ul>
							</div>
							<div class="col-md-4">
								<span><b>Armaduras: <b></span> 
								<ul>
									<li ng-repeat="armor in vm.armors"> {{armor}} </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="ArmoryController as ac">
		<ul>
			<li ng-repeat="weapon in ac.weapons"> {{weapon.Name}} </li>
		</ul>
	</div>
</body>
</html>
